.st {
  background: #F7F2E4;
  height: 1465px;
}
.st .organization__icon_home {
  background: #FFFFFF;
  border-radius: 64px;
  height: 44px;
  width: 100px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 31px;
}
.st .organization__icon_home .organization__img_1 {
  position: relative;
  margin: 10px 8px 10px 16px;
}
.st .organization__icon_home .organization__home {
  position: relative;
  margin: 12px 16px 12px 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #7352FF;
}
.st .organization__subtitle {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #7352FF;
  position: relative;
  margin-top: 175px;
}
.st .organization__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 68px;
  text-align: center;
  color: #191919;
  margin-left: auto;
  position: relative;
  top: 16px;
}
.st .organization__list {
  width: 622.88px;
  height: 35px;
  position: relative;
  margin-top: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 330px;
}
.st .organization__list .element1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #191919;
  left: 0;
  margin-right: 80px;
}
.st .organization__list .element2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #191919;
  margin-right: 80px;
}
.st .organization__list .element3 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #191919;
}
.st .table {
  width: 860px;
  height: 410px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01);
  border-radius: 12px;
  position: relative;
  margin-top: 79px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.st .organization__box_icon {
  width: 860px;
  height: 360px;
  position: relative;
  margin-top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border: 2px solid #BABEC3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 23.9846px;
}